<button (click)="initNewCrud()">Create New List</button>

<table>
  <thead>
    <th>Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Place</th>
  </thead>
  <tbody>
    <tr *ngFor="let crud of cruds">
      <td>{{ crud.name }}</td>
      <td>{{ crud.firstName }}</td>
      <td>{{ crud.lastName }}</td>
      <td>{{ crud.place }}</td>
      <td><button (click)="editCrud(crud)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-crud
  [crud]="crudToEdit"
  (crudsUpdated)="updateCrudList($event)"
></app-edit-crud>
